<label for="">Server Name</label>
<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button id="elem" class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Click me!</button>
<!-- string interpolation output -->
<!-- <p>{{ allowNewServer }}</p> -->
<!-- property binding  -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<p #noServer>No Server was created!</p>
<app-server *ngFor="let server of servers"></app-server>